/*CSS for the cool kids*/
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}
