*
!.profile
!.zprofile
!setup/
!README.md
!.config/
!.config/alacritty**
!neofetch.png

# Scripts
!.local/bin/**

# Git Config
!.config/git/**

# Alacritty
!.config/alacritty

# Shell profile
!.config/shell/**

# Tmux Profile
!.config/tmux/tmux.conf
!.config/tmux/status-line.conf
!.config/tmux/status-line-light.conf

# Neovim/Vim settings
!.config/nvim/**
!.config/nvim/
!.config/vim/**
!.config/vim/
.config/nvim/plugin/packer_compiled.lua
.config/nvim/**.DS_Store**
.config/nvim/lua/.DS_Store
.config/nvim/lua/plugins/.DS_Store

# VS Code Settings
!.config/vscode/**

# Z shell settings
!.config/zsh/.zshrc

# Karabiner
# Escape = caps_lock
# Right windows command = left control
!.config/karabiner

.config/gnupg/*
!.install/*
