#    ██╗███╗   ██╗██████╗ ██╗   ██╗████████╗██████╗  ██████╗
#    ██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝██╔══██╗██╔════╝
#    ██║██╔██╗ ██║██████╔╝██║   ██║   ██║   ██████╔╝██║     
#    ██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║   ██╔══██╗██║     
# ██╗██║██║ ╚████║██║     ╚██████╔╝   ██║   ██║  ██║╚██████╗
# ╚═╝╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝   ╚═╝  ╚═╝ ╚═════╝
                                                          
# Ignore case while tab completing
set completion-ignore-case on

# Allow mode in prompt
set show-mode-in-prompt on
set vi-cmd-mode-string \1\e[0;31m\2[-]\1\e[0m\2
set vi-ins-mode-string \1\e[38;5;85m\2[+]\1\e[0m\2

# Red   \1\e[0;31m\2[-]\1\e[0m\2
# Green \1\e[38;5;85m\2[+]\1\e[0m\2

# Set editing mode to vi since it's default in emacs
set editing-mode vi

# Enable Readline not waiting for additional input when a key is pressed.
# Needed for the mappings below.
set keyseq-timeout 0

# Allow for history-search-backward and history search forward
"\e[A": history-search-backward
"\e[B": history-search-forward
